body {
  margin: 0px;
  padding: 0px;
  background-color: #e8e8e8;
  text-align: center;
  font: 14px Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a img {
  border: none;
  vertical-align: bottom;
  text-decoration: none;
}

a, a:visited, a:hover {
  color: #c10808;
}

fieldset {
  width: 500px;
  margin: 15px auto 15px auto;
}

label {
  margin-right: 5px;
}

h1 {
  text-align: center;
}

h1 img {
  vertical-align: middle;
}

#container {
  margin: 0 auto;
  width: 750px;
  position: relative;
  background: #ffffff;
  padding: 0px;
  text-align: left;
}

#flash_container {
  padding: 5px 0px;
}

#flash_container div {
  padding: 5px;
  font-weight: bold;
}

.notice {
  background-color: #edd400;
  border-top: 1px solid #c4a000;
  border-bottom: 1px solid #c4a000;
}

.error {
  background-color: #ff6767;
  border-top: 1px solid #a40000;
  border-bottom: 1px solid #a40000;
}

#header_image {
  width: 446px;
  margin: 0px auto;
  padding: 10px 0px;
}

#header_user p, #header_user img {
  text-align: right;
  margin: 0px;
  padding: 0px;
}

#header_user {
  position: absolute;
  right: 5px;
  top: 10px;
}

#tool_bar {
  margin-top: 7px;
  margin-bottom: 10x;
  padding: 3px 10px 3px 10px;
  border-top: 1px solid #c17d11;
  border-bottom: 1px solid #c17d11;
  background-color: #e9b96e;
}

#tool_bar a {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  color: #8f5902;
}

#tool_bar a:hover {
  color: #5e3a01;
}

#content {
  margin: 5px;
}

#content a:hover {
  color: #204a87;
}

#footer {
  font-size: 12px;
  height: 25px;
  width: 90%;
  border-top: 2px solid #e8e8e8;
  text-align: right;
  padding: 5px 0 10px 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#footer a:hover {
  text-decoration: underline;
}

.no_list_style {
  list-style-type: none;
}

#recaptcha_container {
  margin: 10px 0px 10px 0px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

#mini_container {
  width: 650px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 35px;
}

.stat_box {
  width: 105px;
  float: left;
  margin-left: 20px;
  min-height: 30px;
  border: 1px solid #555753;
  background-color: #babdb6;
}

.stat_box img {
  display: block;
  margin: 3px auto 3px auto;
}

.stat_box p {
  text-align: center;
  margin: 3px;
  padding: 0px;
}

#photo_browser {
  height: 420px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#inner_photo_browser {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.photo_browser_box {
  width: 105px;
  height: 105px;
  float: left;
  margin-left: auto;
  margin-bottom: auto;
}

.photo_browser_box img {
  display: block;
  margin: auto;
  vertical-align: middle;
}

#vote_error {
  width: 400px;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#main_photo_container p {
  text-align: center;
}

#vote_controls {
  border: 1px solid #c17d11;
  background-color: #e9b96e;
  width: 66px;
  height: 32px;
}

#vote_controls img {
  padding: 5px;
  width: 22px;
  height: 22px;
  float: left;
}

.user_stat_chart {
  float: left;
  width: 300px;
  height: 200px;
  margin: 0px 10px 5px 25px;
  border: 1px solid #8f5902;
}

#scrolling_photo_block_container {
  margin-right: 5px;
  margin-bottom: 5px;
  float: right;
  width: 282px;
  height: 336px;
}

#pagination_navigation {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

#pagination_navigation p {
  text-align: center;
}

#pagination_navigation img {
  display: inline;
  vertical-align: middle;
}

#scrolling_photo_block_container p {
  text-align: center;
  margin: 5px;
}

#scrolling_photo_block img {
  display: block;
  margin: 5px auto 5px auto;
  padding: 0px;
}

#scrolling_photo_block td, #scrolling_photo_block table {
  border: 1px solid #8f5902;
  padding: 0px;
  margin: 0px;
}
