%h1 Acceptable use policy

%p There are a few rules you must abide by to use this site. Violation will at least mean a permenant ban and at worst prosecution under federal law.

%ol
  %li You must be 18 years old.
  %li The pictures must be of a person. One <em>consenting adult</em> person.
  %li Group pictures are allowed on the grounds that you are voting for <strong>the entire group</strong>.
  %li Nudity is not allowed. Partial nudity is allowed. We will use any discretionary method to determine what is allowed. Be warned.
  %li Always offer to send a statistics link to the person you are photographing. It's just polite :)

%p We will <strong>never</strong> share any personal information gathered on this site. The only information we gather is so that <em>you</em>, the user, will have access to the data later.
