- dim = 100
%style{ :type => 'text/css' }
  :sass
    .top_rated_container
      :width 600px
      :margin-left auto
      :margin-right auto
    .top_rated
      :width 150px
      :height 130px
      :margin 10px
      :padding 5px
      :border 1px solid #c17d11
      :background-color #e9b96e
      :float left
      img
        :display block
        :margin 5px auto 5px auto
        :margin-left auto
        :margin-right auto
      h3
        :text-align center
    .top_rated_number
      :float left
      :font-size 12px
      :font-weight bold
      :padding 3px
      :background-color #ffffff

%h2 Top oneness

- @top_oneness.each_with_index do |p, index|
  %div.top_rated_container
    %div.top_rated
      %span.top_rated_number= index + 1
      %a{ :href => url(:photo, p) }
        %img{ :src => photo_url(p, dim, dim) }
      %h3== #{p.oneness}%

%br{ :style => 'clear: both' }

%h2 Top voted

- @top_voted.each_with_index do |p, index|
  %div.top_rated_container
    %div.top_rated
      %span.top_rated_number= index + 1
      %a{ :href => url(:photo, p) }
        %img{ :src => photo_url(p, dim, dim) }
      %h3= p.votes_count

%br{ :style => 'clear: both' }