- dim = 300
%style{ :type => 'text/css' }
  :sass
    li
      img
        :display block
        :margin 0px auto
      p
        :text-align center

%h1 Top oneness

%ol.no_list_style.centered
  - @top_oneness.each_with_index do |p, index|
    %li
      %a{ :href => url(:photo, p) }
        %img{ :src => photo_url(p, dim, dim) }
      %p== <strong>Oneness:</strong> #{p.oneness}% <strong>Votes 0:</strong> #{p.zero_votes} <strong>Votes 1:</strong> #{p.one_votes} <strong>Total Votes:</strong> #{p.votes_count}

%br{ :style => 'clear: both' }
