%style{ :type => 'text/css' }
  :sass
    #front_page
      blockquote
        :font-size 16px
        :padding 5px 0px 5px 15px
        :background-color #eeeeee
        :border-top 1px dashed #9f9f9f
        :border-right 1px dashed #9f9f9f
        :border-bottom 1px solid #d4d4d4
        :border-left 1px solid #d4d4d4
        em
          :margin-left 20px

%span#front_page
  %h1 What this is all about
  
  %blockquote
    All you young guys are on a binary system. It's either <tt>0</tt> or <tt>1</tt>.
    %br
    %em Larry Bell
  
  %blockquote
    All you old guys are on the analog system. Join the digital revolution.
    %br
    %em Ross Bagwell
  
  %h1 Getting started
  
  %ul.no_list_style.centered
    - menu_items.each do |menu_item|
      %li
        %a{ :href => menu_item[:href], :title => menu_item[:name] }
          %img{ :src => menu_item[:img] }
          = menu_item[:title]
