#scrolling_photo_block_container
  = pagination 'scrolling_photo_block', url(:vote, :id => @user.user_name)
  #scrolling_photo_block
    = partial 'votes/stats_for_user'

- if @user == current_user
  %h1 Your voting record
- else
  %h1== #{@user.user_name}'s Voting record

%div.user_stat_chart
  = stat_chart

%br{ :style => 'clear: both' }
